.top-container {
    background-color: #c5d9db;
    position: relative;
    padding-top: 150px;

}
body {
    margin: 0;
    text-align: center;
    font-family: "Rockwell";
}    

h1 {
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    font-family: 'Sacramento', cursive;
    color: #2e5383;
    height: 118px;
}

.middle-container {
    padding-top: 50px;
}

.bottom-container {
}

.second-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
    width: 200px;
}

.first-cloud {
    position: absolute;
    right: 250px;
    top: 200px;
    width: 200px;
}

.about-me {
    font-size: 18px;
    margin-bottom: 8%;
    font-family: 'Montserrat', sans-serif;
    color: #2e5383;
}

.mountain {
    width: 700px;
    position: relative;
    margin-bottom: -3px;
    max-width: 100%;
}

.profile-img {
    width: 150px;
}

p {
    font-family: adobe-garamond-pro, HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}