.top-container {
    background-color: #d0faff;
    position: relative;
    padding-top: 150px;

}
body {
    margin: 0;
    text-align: center;
    font-family: "Rockwell";
}    

h1 {
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    font-family: 'Sacramento', cursive;
    color: #203858;
    height: 118px;
}

.middle-container {
}

.bottom-container {
}

.second-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
    width: 200px;
}

.first-cloud {
    position: absolute;
    right: 250px;
    top: 200px;
    width: 200px;
}

.about-me {
    font-size: 18px;
    margin-bottom: 8%;
    font-family: 'Montserrat', sans-serif;
    color: #2158a1;
}

.mountain {
    width: 700px;
    position: relative;
    margin-bottom: -3px;
}