.top-container {
    background-color: #F1FDF3;
    position: relative;
    padding-top: 150px;

}
body {
    margin: 0;
    text-align: center;
    font-family: "Rockwell";
}    

h1 {
    font-size: 7rem;
    margin-top: 0px;
    margin-bottom: 2px;
    position: relative;
    font-family: "Lucida Handwriting", cursive;
}

.middle-container {
}

.bottom-container {
}

.second-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
    width: 200px;
}

.first-cloud {
    position: absolute;
    right: 400px;
    top: 150px;
    width: 200px;
}

.about-me {
    font-size: 20px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}